<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= title || "CSE Motors" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>
    <div id="wrapper">

      <!-- Site Header -->
      <%- include('../partials/header') %>

      <!-- Navigation -->
      <%- include('../partials/navigation') %>

      <!-- Main Content -->
      <main id="content">
        <%- body %>
      </main>

      <!-- Footer -->
      <%- include('../partials/footer') %>

    </div>
  </body>
</html>
